In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Lightmap3.csv')

In [3]:
df['event_timestamp'] = pd.to_datetime(df['event_timestamp'],unit='s')
df['registration_timestamp'] = pd.to_datetime(df['registration_timestamp'],unit='s')

In [4]:
df = df.sort_values(['registration_timestamp', 'event_timestamp'])
df['event_date'] = pd.to_datetime(df['event_timestamp']).dt.date

In [5]:
df_g = df.groupby('event_date')['inapp_size'].agg(['sum', 'count'])
df_g = df_g.rename(columns={'sum': 'day_sum', 'count': 'count_tr'})
df_g['cumsum_days'] = df_g["day_sum"].cumsum()
df_g

            day_sum  count_tr  cumsum_days
event_date
2021-01-01      712       125          712
2021-01-02     1605       163         2317
2021-01-03     1327       169         3644
2021-01-04     1331       198         4975
2021-01-05     1438       208         6413
...             ...       ...          ...
2021-04-24       93        11        81863
2021-04-25       54         6        81917
2021-04-27       10         1        81927
2021-04-28        3         1        81930
2021-04-29       10         1        81940

[118 rows x 3 columns]

In [6]:
df_ln = df_g.drop(['day_sum', 'count_tr'], axis=1)
df_ln

            cumsum_days
event_date
2021-01-01          712
2021-01-02         2317
2021-01-03         3644
2021-01-04         4975
2021-01-05         6413
...                 ...
2021-04-24        81863
2021-04-25        81917
2021-04-27        81927
2021-04-28        81930
2021-04-29        81940

[118 rows x 1 columns]

In [7]:
df_ln.to_csv('predict.csv')